# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.bin
*.dmg
*.tgz
*.gz
*.iso
*.jar
*.rar
*.sar
*.tar
*.zip
*.ZIP

HANA_EXPRESS_20/
5105*
setup_hxe.sh

